body {
    font-family: 'Source Sans Pro', sans-serif;

}
h1, h2,h3,h4,h5,h6{
    font-weight: 700;
    color: #66FCF1;
}

img{
    filter: brightness(0.7);
    border: 2px solid #66FCF1;
}

img.rounded-circle{
    filter: none;
    border: 2px solid #66FCF1;
}

/* HEADER */

a{
    color: #66FCF1;
}

.navbar{
    background-color: #0B0C10;
    color: #66FCF1 !important;
}
.navbar-brand, .footer-logo{
    font-weight: 700;
    font-size: 1.5rem;
}

/* Hero */

.hero{
    background-color: #3a434e;
    color: #66FCF1;
}

.hero-post-badges{
    position: absolute;
    top: 20px;
    right: 20px;
}

.hero-post-badges>a{
    display: block;
    font-size: 0.9rem;
}

.hero-post-content{
    bottom: 20px;
    color: #c5c6c7;
}

/* Main block */

.blog-posts{
    background-color: #0B0C10;
    color: #c5c6c7;
    padding: 1rem;
}

.blog-post{
    background-color: #3a434e;
    padding: 1rem;
}

.blog-post p{
    font-size: 0.9rem;
}

/* Footer */

.footer{
    background-color: #1F2833;
    color: #c5c6c7;

}